h1 {
        color: black;
}


body {
    background-color: khaki;
}

hr {
    border-color: black;
    width: 300px;
}
ul {
    list-style-type: none;
    padding: 1px;
    display: block;
    margin-left: 0;
    width: 350px;
    height: 200px;
    overflow: auto;
}

li {
    margin-bottom: 1em;
    word-wrap: break-word;
}

li span {

	padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    width: 212px;
    display: inline-block;
    font-weight: bold;
}

li label {
    padding-left: 10px;
    color: red;
}

.checked {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

input[type="checkbox"]:hover {
    opacity: 0.7;
}








